
/*
    Estas son las dos clases principales que van a englobar todo el contenido
*/
.fondo
{
    font-family: Helvetica;
    background-image: url("Imagenes/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.color
{
    background-color: #f7f7f9;
    margin-left: 352px;
    margin-right: 352px;
}

/*
    CSS Necesario para el menu y el menu desplegable
*/
/*Esto es para gestionar la clase entera del menu*/
.menu {
    background-color: #f7f7f9;
    padding-bottom: 100px;  
    margin:auto;
    width:fit-content;
    
}

/*Todo lo de aqui abajao es necesario para poder 
 hacer que funcione el submenu como por ejemplo
 cuanto espaci ose le dejara a las secciones del submenu
 el hoover si tendra algun color...
*/
ul, ol {
    list-style:none;
    display:inline;
    
}

.nav > li {
    float:left; 
}

.nav li a {
    background-color:#f7f7f9;
    color: #c71585;
    text-decoration:none;
    padding: 10px 12px;
    display:block;
}

.nav li ul a:hover {
    background-color: rgb(206, 204, 204);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.mensaje
{
    background-color: #f7f7f9;
}



/*
    CSS necesario para el cuerpo y el encabezado
*/

/*El padre_not es una version del padre pero menos completa orientado a que sea mas limpia y sin brode*/
.padre_not {
    /* IMPORTANTE */
    background-color: #f7f7f9;
    text-align: center;
    /* Revisar */
    margin: 5px;
}
 

/*Esos elementos son personalizados por el hijo*/
.hijo {
    padding: 10px;
    margin: 10px;
      
    /* IMPORTANTE */
    display: inline-block;  
}

/*Clase que hace que todos los a al pasar por encima tengan un color morado*/
a:hover{
    
    background-color: #c71585;
}

.accion_nov a:hover
{
    background-color: aqua;
}

.accion_dest a:hover
{
    background-color: green;
}

.accion_cons a:hover
{
    background-color:black;
}
/*Centrar se utiliza en varios lados pero como su nombre indica */
.centrar
{
    text-align: center;
}

/* Clase para quitar los puntos de las listas */
.quitarpuntos
{
    list-style: none;
    text-align: left;
}
.quitarpuntos li
{
    padding: 50px;
}

/*Grid elementos pero especifico para las noticias*/
.gridelementos_noticia
{
    display: grid;
    grid-template-columns: auto auto;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gridelementos_noticia p
{
    padding: 20px;
    margin-top:-25px;
}
/*Cambio de fuente y estilo en la seccion de novedades*/
.nov
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px; 
}
/*Cambio de fuente y estilo en la seccion de destacadas*/
.dest
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
/*Cambio de fuente y estilo en la seccion de consolas*/
.cons
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.blanco
{
    color: #f7f7f9;
}


/*
    CSS necesario para el footer
*/

/*El footer propiamente dicho*/
.footer
{
    display: grid;
    background-color: grey;
    grid-template-columns: auto auto auto;
    padding: 3px;
    margin-top: 20px;
    margin-bottom: -10px;
}

/*Para poder colocar elementos a la derecha*/
.derecha
{
   text-align: right;
}
/*Para poder colocar elementos a la izquierda*/
.izquierda
{
    text-align: left;
}
/*Para poder distribuir el footer*/
.grid_footer
{
    margin: 10px;
}



/*Para el formulario*/


.contenido2
{
	display: grid;
	grid-template-columns: auto auto; 
}



.form-style-2
{
	margin-left:310px;
    text-align: center;
    max-width: 500px;
	font-family: Arial, Helvetica, sans-serif;
    background-color:#f5f3f371;
    border-radius: 20px;
    border-color: #e6e4e4;
    border-style:ridge;
    border-width: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-style-2 p
{
    text-align: left;
}

.form-style-2-heading
{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}

.form-style-2 label
{
	display: block;
	margin: 0px 0px 15px 0px;
}

.form-style-2 label > span
{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}

.form-style-2 .tel-number-field
{
	width: 185px;
	text-align: center;
}

.form-style-2 .fecha
{
	width: 40px;
	text-align: center;
}

.form-style-2 .fecha1
{
	width: 40px;
	text-align: center;
}

.form-style-2 .fecha2
{
	width: 60px;
	text-align: center;
}

.form-style-2 .tel-number-field
{
	width: 100px;
	text-align: center;
}

.form-style-2 input.input-field, .form-style-2 .select-field
{
    width: 48%;
}

.form-style-2 input.input-field,
.form-style-2 .textarea-field, 
.form-style-2 .dni,
.form-style-2 .select-field,
.form-style-2 .fecha,
.form-style-2 .fecha1,
.form-style-2 .fecha2,
.form-style-2 .tel-number-field
{
	box-sizing: border-box;
	
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	padding: 7px;
	outline: none;
}

.form-style-2 .input-field:focus, 
.form-style-2 .dni:focus,
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus,
.form-style-2 .fecha:focus,
.form-style-2 .fecha1:focus,
.form-style-2 .fecha2:focus
{
	border: 1px solid #c71585;
}

.form-style-2 .textarea-field
{
	height:100px;
	width: 55%;
}

.form-style-2 input[type=submit],
.form-style-2 input[type=button],
.form-style-2 input[type=reset],
.form-style-2 input[type=checkbox]
{
	padding: 8px 15px 8px 15px;
	background: #c71585;
	color: white;
	border-radius: 10px;
    margin: 10px;
}

.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover,
.form-style-2 input[type=reset]:hover,
.form-style-2 input[type=checkbox]:hover
{
	opacity: 80%;
	color: rgb(220, 226, 228);
}





/*
    CSS NECESARIO PARA LA P3
*/

.box 
{
  position: relative;
  overflow: hidden; 
}

.box #movimiento 
{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c71585;
    box-shadow: inset -5px -5px 5px rgba(0,0,0,.6), 15px 15px 2px rgba(0,0,0,.04);
    position: absolute;
    -webkit-animation: moveX 4s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
    -moz-animation: moveX 4s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
    -o-animation: moveX 4s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
    animation: moveX 4s linear 0s infinite alternate, moveY 5.5s linear 0s infinite alternate;
    -moz-animation: ocul 0s ease-in 10s forwards;
}

/* Safari and Chrome */
@-webkit-keyframes moveX {
  from { left: 350px; } to { left: 1470px; }
}
/* Firefox */
@-moz-keyframes moveX {
  from { left: 350px; } to { left: 1470px; }
}
/* Opera */
@-o-keyframes moveX {
  from { left: 350px; } to { left: 1470px; }
}
@keyframes moveX {
  from { left: 350px; } to { left: 1470px; }
}
/* Safari and Chrome */
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 600px; }
}
/* Firefox */
@-moz-keyframes moveY {
  from { top: 0; } to { top: 600px; }
}
/* Opera */
@-o-keyframes moveY {  
  from { top: 0; } to { top: 600px; }
}
@keyframes moveY {
  from { top: 0; } to { top: 600px; }
}


#msg
{
    background-color: #f7f7f9;
    /* Firefox */
    -moz-animation: ocul 0s ease-in 10s forwards;
    /* Safari and Chrome */
    -webkit-animation: ocul 0s ease-in 10s forwards;
    /* Opera */
    -o-animation: ocul 0s ease-in 10s forwards;  
    animation: ocul 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


@keyframes ocul 
{
    to 
    {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes ocul 
{
    to 
    {
        width:0;
        height:0;
        visibility:hidden;
    }
}

#not_menu
{
    display: none;
}

#not_nov
{
    display: none;
}

#not_nov2
{
    display: none;
}
#not_titulo
{
    display: none;
}

